<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>

	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/style.css"></link>
	<!-- <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script> -->

</head>
<body>
	<!-- <div class="container-fluid"> -->
	<div class="row">
		<div class="alert alert-warning" role="alert">
			<h2>NIT's First Hackathon</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            <p aligin='justify'>
              "A hackathon, a hacker neologism, is an event when programmers meet to do collaborative computer programming."
-<a href="https://en.wikipedia.org/wiki/Hackathon">Wikipedia</a></p>
<p align='justify'>
This is NITH\'s first Hackathon being organised by the AppTeam NITH. This event aims at unleashing the innovative abilities of students
and highlighting their creativity. As participants require technical assistance, being not very technically sound, it was decided
that the participants would be teamed under the Mentors from final year CSE. Teams would be required to build any viable
application/library/software in stipulated time of 24 hours. The best innovation will be awarded.</p>


<h3>List of Mentors/Team Leaders :-</h3><br />
<ol>
  <li>Akashit Wal</li>
<li>Pradyot</li>

<li>Shubham Choudhary</li>

<li>Himanshu Singh</li>

<li>Sagar Karira</li>

<li>Prateek Prasher</li>

<li>Akshendra Pratap</li>

<li>Prikshit Tekta</li>

<li>Mayank Bansal</li>
<li>Kunal Sharma</li>
<li>Shubham Rana</li>
</ol><

<h3>Rules :</h3><br />
<ol>
<li>Participants must register at website or through app.</li>

<li>Teams participants must be from NIT.</li>

<li>Participants have liberty to list Preference of their Mentors.</li>

<li>Participants will be alloted a team Mentor randomly or based upon skills/preferences.</li>

<li>List of Mentors are given above.</li>

<li>In case of any discrepancy the final decision will be that of Appteam/Judges.</li>

<li>Participants must be present at the event site.</li>
</ol>

<h3>Awarding Schemes:</h3><br />

<b>Winner :</b> 3 Virtual Gold Coins + Additional 35 Virtual Silver Coins<br />

<b>First Runner Up :</b> 2 Virtual Gold Coins + Additional 25 Virtual Silver Coins<br />

<b>Second Runner Up :</b> 1 Virtual Gold Coins +  Additional 15 Virtual Silver Coins<br />

Every participants will be awarded 25 Virtual Silver Coins.
		</div>
		<div class="col-md-6">
			<img src="images/hackathon.png" class="img-responsive">
			<span id="note" class="help-block text-center">Linux should be installed in all participant systems.</span>
		</div>
	</div>
	<!-- </div> -->
</body>
</html>
